  
  body{
    display: flex;
    flex-direction: column;
    font-family: 'Didot', serif;
    font-variant: small-caps;

}

  .title{
    background-color: rgb(144, 160, 81)
  }

  h1{
    display:flex;
    background-size: cover;
    font-size: 70pt;
    font-weight: 300;
}

  h3 {
    display:flex;
    font-size:30pt;

}

  #list {
    font-weight: bold;

  }

  li{
    font-size: 90%;
}

  .sitenav{
    display: flex;
    justify-content:left;
    margin-bottom: 10px;
    background-color: #d8a47f;

}

#fun{
    font-size: 90%;
    justify-content: flex-start;
    font-variant: normal;
}