  
  body {

  }

  h1 {
    font-family: 'Didot', serif;
    font-size: 20;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Lucida Console", "Courier New", 
    }
  
  nav {
    display: flex;
    background-color: #d8a47f;
  }
  

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  