  
  body{
    display: flex;
    background: linear-gradient(154deg,#98b171 0%, #e4d67b 80%);
    flex-direction: column;
    font-family: 'Didot', serif;
    font-variant: small-caps;

}

  

  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 40px;

} 

#work{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#work h4{
  flex:0 0 20%;
}

#work div{
  flex:0 0 75%;
}

  h1{
    display:flex;
    background-size: cover;
    font-size: 2.0rem;
    font-weight: 600;
}

  h2{
    display: flex;
    font-size: 50pt;
    font-weight: 100;
  }

  h3 {
    display:flex;
    font-size:30pt;

}

  #list {
    font-weight: bold;

  }

  li{
    font-size: 90%;
}

  .sitenav{
    display: flex;
    justify-content:left;
    margin-bottom: 10px;
    background-color: #d2a153db;

}

#fun{
    font-size: 90%;
    justify-content: flex-start;
    font-variant: normal;
}

